<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="TaobaoPlatFormDb" providerName="System.Data.SQLite" connectionString="Data Source=Data\TaobaoPlatform.db;Version=3;Pooling=True;Max Pool Size=100;"/>-->
    <add name="TaobaoPlatFormDb" providerName="System.Data.SqlClient" connectionString="Data Source=.\sql2008r2;Initial Catalog=TaoBaoPlatform;User ID=sa;Password=123;" />  
</connectionStrings>
</configuration>